body{
    padding: 100px
}

.bank-login{
    max-width: 900px;
    width:100%;
    background-color: #fff;
    box-shadow: 5px 5px 10px gray;
    border-radius: 10px;
    padding: 50px;
    margin:0 auto;
    margin-top: 20px;
}

#transaction-area{
    display: none;
   
}
#transaction-area .deposit{
    background-color: lightcoral;
    
    
    

}
#transaction-area .withdraw{
    background-color: lightseagreen;
    
    
}
#transaction-area .balance{
    background-color: lightgreen;
   
   
}
.status{
    margin: 5px 20px;
    padding:40px;
    color:white;
    border-radius: 20px;
}